@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility classes */
.nowrap {
  white-space: nowrap;
}

.container {
  max-width: 1300px;
  margin: auto 1rem;
  min-height: 100vh;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: end;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logoContainer img {
  max-width: 76px;
  width: 2rem;
}

.logo {
  font-family: "Russo One", sans-serif;
  font-size: 1em;
  color: green;
  /* max-width: 126px; */
}

.right-nav {
  max-width: 24px;
}

.heroSection {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 810px) {
  
  
  .heroSection{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;
  }


  .heroContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 50%;
  }

  .imgCaption{
    font-size: 4rem;
    width: 22rem;
  }

  .heroParagraph{
    max-width: 20rem;
  }
  

}

.heroImage img {
  max-width: 512px;
  width: 100%;
  border-radius: 50%;
}

.heroContent {
  margin-top: 1rem;
}

.discount {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: green;
  color: #fff;
  margin-bottom: 2rem;
}

.heroParagraph {
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.explore {
  background-color: #ffc066;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0.5rem 0;
  padding: 0.7rem;
  width: 10rem;
}

.mainItems {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.item img {
  max-width: 80px;
  width: 100%;
  min-width: 50px;
}

.first img {
  max-width: 70px;
}

.second .item-content h3 {
  margin-top: 18px;
}

.item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-left: 2px solid rgba(128, 128, 128, 0.377);
}

.item-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item h3 {
  font-size: 1rem;
  font-weight: 800;
  margin: 0.6rem 0;
}

.item p {
  margin-left: 0.8rem;
}

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 4rem;
}

.menu-button {
  font-size: 1rem;
  background-color: green;
  color: #fff;
  padding: 0.6rem;
}

.menu-section h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.grid-section {
  width: 100%;
  justify-content: center;
  /* grid-template-columns: repeat(4, 1fr); */
  display: grid;
  grid-template-areas:
            'grid-1 grid-1 grid-2 grid-3'
            'grid-1 grid-1 grid-2 grid-7' 
            'grid-4 grid-5 grid-6 grid-7';
  
  gap: 0.5em;
  margin-bottom: 4rem;
}

.grid-1 {
  width: 100%;
  height: 100%;
  max-width: 585px;
  grid-area : grid-1;
}
.grid-2 {
  width: 100%;
  height: 100%;
  max-width: 276px;
  grid-area : grid-2;
}
.grid-3 {
  width: 100%;
  max-width: 277px;
  grid-area :grid-3;
}
.grid-4 {
  width: 100%;
  max-width: 277px;
  grid-area :grid-4;
}
.grid-5 {
  width: 100%;
  max-width: 277px;
  grid-area :grid-5;
}
.grid-6 {
  width: 100%;
  max-width: 278px;
  grid-area :grid-6;
}
.grid-7 {
  width: 100%;
  height: 100%;
  max-width: 277px;
  grid-area :grid-7;
}


.foot{
  padding: auto 5rem;
  /* margin: auto 1rem ; */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.foot div{
  margin: 1em 0;
}

.foot li{
  list-style: none;
  font-size: 1rem;
  margin-top: 0.5em;
}

.same-foot{
  font-size: 1.5rem;
  border-bottom: 1px solid #ffc066 ;
  color: gray;
}

.newsletter{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.share-links {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

footer{
  width: 100%;
  background-color: #ffbf6657;
}



@media screen and (min-width : 1240px) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}