:root {
  --BGCOLOR: #e5e5e5;
  --BGCOLOR2: #281154;
  --BGNAV: #270082;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

.container {
  background-color: var(--BGCOLOR);
}

.nav-bar {
  background-color: var(--BGNAV);
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #fff;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: sticky;
  top: 0;
  /* bottom: 0; */
}
.nav-right select {
  box-shadow: 0 10px 25px rgba(153, 146, 146, 0.1);
  font-size: 1rem;
  padding: 0.5em 1em;
  appearance: none;
  color: #e5e5e5;
  border: 0;
  background-color: rgba(40, 48, 159, 0.443);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  background-color: #2811544b;
  color: burlywood;
}

ul {
  display: flex;
  gap: 0.5rem;
}

li {
  list-style: none;
}

.first-section {
  background-image: url(./Img/dj.png);
  width: 100%;
  max-width: 1440px;
  min-height: 80vh;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2rem;
  align-items: center;
}

h6 {
  margin-top: 0.5rem;
}

p {
  margin-top: 1.2rem;
  font-size: 0.7rem;
  width: 80%;
  line-height: 1.5rem;
}

.music-section {
  padding-top: 1rem;
  background: #270082;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  align-items: center;
  color: #fff;
  padding-bottom: 11rem;
}

.music {
  display: flex;
  align-items: center;
}

.music-button {
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: red;
  color: white;
  box-shadow: 5px 5px 0 0 rgba(63, 65, 159, 0.1);
}

.available {
  font-size: 0.5rem;
  text-align: center;
}

.mid-image {
  display: flex;
  background-color: transparent;
  margin-top: -10rem;
}

.iphone-ipad {
  margin: 3rem auto;
  width: 80%;
}

.section2 {
  background-color: var(--BGCOLOR);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.section2 h4 {
  width: 80%;
  text-align: center;
}

.read-more {
  margin-top: 1rem;
  padding: 0.7rem;
  color: #fff;
  background-color: var(--BGNAV);
}

.laptop {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.lap {
  width: 80%;
}
