*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image:radial-gradient(gray, silver);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.box{
    width: 90%;
    overflow:hidden;
    min-height: 90vh;
    padding: 2rem;
    background-color:white;
    margin: 2rem auto;
    border-radius: 3%;
}

.box-content{
    width: 100%;
    min-width: 200px;
}

h1{
    font-size: 100%;
    white-space: nowrap;
}
span{
    font-size: 1.5rem;
}

.fields{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
}

:where(.fields input, .fields select){
    font-size: 1.5rem;
    width: 100%;
    margin-top: 0.5rem;
    color: darkgray;
}
.fields textarea{
    width: 100%;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    min-height: 12rem;
}


textarea{
    font-size: 3rem;
}

.cv input{
    border : 2px solid black;
}
.button{
    display: flex;
    justify-content: end;
}
.button button{
     background-color: red;
     color: #fff;
     margin-top: 1rem;
     padding: 0.5rem;
     width: 150px;
}
