*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image:radial-gradient(gray, silver);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}
/* .container{
    /* min-width: 100%; */


.box{
    width: 80vw;
    /* overflow:auto; */
    min-height: 90vh;
    padding: 2rem;
    background-color:white;
    margin: 2rem auto;
    border-radius: 3%;
}

h1{
    font-size: 1.7rem;
    white-space: nowrap;
    width: 100vw;
}
span{
    font-size: 1.5rem;
}

.fields{
    margin-top: 1em;
    display: flex;
    flex-flow: column;
    width: 68vw;
    font-weight: 500;
}

:where(.fields input, .fields select, .fields textarea){
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: darkgray;
}

textarea{
    font-size: 3rem;
}

.cv input{
    border : 2px solid black;
}